<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Screens</title>
    <script>
    function line_edit() {
       document.location.href = 'http://myopencvproject.xyz/download/';
       
     
       
    }
</script>
</head>

<body>
    <table>
        <tr>
            
            <td>
                    <h1>Video Streaming Demonstration 1</h1>
                    <img src="{% url 'dynamic_stream' num=1 stream_path='0' %}">
            </td>
            
        </tr>
    </table>
    <button  > <a href='http://myopencvproject.xyz/download'  target="_blank">скачать отчет </a> </button>
</body>
</html>